.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 4px;
    font-size: 2rem;
    background-color: #f9f8f8;
}
.cell:hover{
    cursor: pointer;
    background-color: #b00856;
}

@media screen and (max-width: 600px) {
    .cell{
        width: 50px;
        height: 50px;
        font-size: 2rem;
    }
    
}