.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.message-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}
.message-holder> h3{
    margin: 0;
    font-size: 2rem;
    font-weight: 900;
    color: #ee1c7e;
    margin-bottom: 2rem;
}
